.add-playlist {
	margin-top: 5px;
	text-align: center;
}

.friend-box {
	text-align: center;
}

.friend-box {
	text-align: center;
}

.friend-pic {
	width: 150px;
	height: 150px;
}

.friend-name {
	margin: 5px;
}