{% extends 'youPotify/base.html' %}
{% load static %}
{% block content %}

        {% if playlist.public == True or playlist.owner == user %}
        <div class="col-lg-9">
          <h4>Playlist</h4>
          <br>
          {% if playlist.owner == user and playlist.public == True%}
          <h5 style="float: left">{{playlist}}&nbsp&nbsp<a href="#" onclick="deletePlaylist('{{playlist.id}}')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>&nbsp&nbsp<a href="#" onclick="unpublicPlaylist('{{playlist.id}}')"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a></h5>
          {% elif playlist.owner == user and playlist.public == False%}
          <h5 style="float: left">{{playlist}}&nbsp&nbsp<a href="#" onclick="deletePlaylist('{{playlist.id}}')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>&nbsp&nbsp<a href="#" onclick="publicPlaylist('{{playlist.id}}')"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></a></h5>
          {% else %}
          <h5 style="float: left">{{playlist}}</h5>
          {% endif %}
          <h6 style="float: right">created by: {{playlist.owner.first_name}} {{playlist.owner.last_name}}</h6>
          <div class="iframe">

          </div>

          <table class="table table-hover">
            <tbody id="search_result">
            <tr>
              <!-- <td>Add</td> -->
              <td>Song</td>
              <td>Artist</td>
              <td><span class="glyphicon glyphicon-time" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span></td>
              <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
            </tr>

            {% for track in tracks %}
              <tr class="track_row" data-id="{{track.d_id}}" onClick="selectTrack('{{track.id}}')">
                <!-- <td><span onclick="toggleModal('{{track.songId}}')" class="glyphicon glyphicon-plus"></span></td> -->
                <td>{{track.name}}</td>
                <td>{{track.artist}}</td>
                <td>{{track.duration}}</td>
                {% if playlist.owner == user %}
                <td><a href="#" onclick="showMsg('{{track.msg}}')">{{track.sender.first_name}}</a></td>
                <td><a href="#" onclick="deleteSongOnClick('{{track.d_id}}')"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                {% endif %}
              </tr>
            {% endfor %}


            </tbody>

          </table>

        </div>
        {% else %}
        <div class="col-lg-9">
        <h3 style="text-align: center">The playlist is not public</h3>
        </div>
        {% endif %}
      </div>

    </div> <!-- /container -->

      <!-- Modals -->

      <div id="confirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <h6 id="confirm-modal-msg">123</h6>
            </div>
          </div>
        </div>
      </div>      



      <div id="msgModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">A message sent from friend</h4>

            </div>
            <div class="modal-body">
              <h6 id="show-modal-msg">...</h6>
            </div>
          </div>
        </div>
      </div>  

      <div id="notificationModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Notifications</h4>
            </div>
            <div class="modal-body">
              <h6 id="notification-modal-sender">...</h6>
              <h6 id="notification-modal-msg">...</h6>
            </div>
          </div>
        </div>
      </div> 


      <div id="createPlaylistModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">New Playlist</h4>
            </div>
            <div class="modal-body">
              <div class="input-group">
                <input id='create-playlist-name' type="text" class="form-control" placeholder="Playlist Name">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" onclick="createPlaylist()">
                    <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                  </button>
                </span>
              </div><!-- /input-group -->
            </div>
          </div>
        </div>
      </div>



      <!-- delete song Modal-->
      <div id="deleteModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
              <h6 id="show-modal-msg">Are you sure you want to delete the song?</h6>
              <h6 id="deleteSongId" data-id=""></h6>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-de fault" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" onclick="deleteSong('playlist', {{playlist.id}})">Delete</button>
            </div>
          </div>
        </div>
      </div>    
      <!-- End Modals -->
      <!-- End Modals -->


      <script src="{% static 'youPotify/js/jquery.js' %}" type="text/javascript"></script>
      <script src="{% static 'youPotify/js/fb/fb-login.js' %}" type="text/javascript"></script>
      <script src="{% static 'youPotify/js/bootstrap.min.js' %}" type="text/javascript"></script>
      <script src="{% static 'youPotify/js/script.js' %}" type="text/javascript"></script>
      <script src="{% static 'youPotify/js/search_songs.js' %}" type="text/javascript"></script>
      <script src="{% static 'youPotify/js/socket.js' %}" type="text/javascript"></script>
      <script src="{% static 'youPotify/js/reconnecting-websocket.min.js' %}" type="text/javascript"></script>



  </body>
</html>

{% endblock %}
